.developer_container {
    max-width: 80vw;
    width: 1080px;
    margin: 0 auto;
    padding-top: 10em;
    min-height: 100vh;
}

.developer_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

.developer_header_links {
    margin-top: 2em;
    display: flex;
    gap: 1em;
    align-items: center;
}

.developer_title_pre {
    font-size: 2em;
}

.developer_title_name {
    font-size: 5em;
}

.developer_title_subtitle {
    font-size: 2em;
    font-weight: 600;
}

.developer_header_image_container {
    width: 20em;
    border: 1px solid #fff;
    border-radius: 50em;
    overflow: hidden;
}

.developer_description {
    margin-top: 1em;
    font-size: 1.3em;
}

@media all and (max-width: 870px) {
    .developer_title_pre {
        font-size: 1.5em;
    }
    .developer_title_name {
        font-size: 3em;
    }
    .developer_title_subtitle {
        font-size: 1.3em;
    }
    .developer_description {
        font-size: 1em;
    }
}

@media all and (max-width: 720px){
    .developer_header {
        flex-direction: column-reverse;
        gap: 2em;
        align-items: center;
    }
}