.ProjectCard{
    background: #F3FDFF;
    color: #000;
    border-radius: 13px;
    width: 50em;
    max-width: 90vw;
    overflow: hidden;
}

.Banner{
    position: relative;
    height: 20em;
    margin-top: 2em ;
}

.Banner_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Banner_Overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 5em;
    background: #000000a6;
    opacity: 0;
    display: none;
    transition: all 500s ease;
}

.Banner:hover .Banner_Overlay{
    opacity: 1;
    display: block;
}

.Banner_Overlay h1{
    color: #fff;
    font-size: 5em;
}

.Banner_button{
    outline: none;
    background: none;
    border: none;
    color: #fff;
    margin: 1.5em auto;
    padding: 0.5em 3em 0.5em 2.5em;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease;
}

.Banner_button a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Banner_button:hover{
    background: #fff;
    color: #000;
}

.Banner_button:hover .Banner_button_svg path{
    fill: #000;
    transition: all 200ms ease;
}

.Banner_Overlay span{
    font-size: 1.3em;
    font-weight: 500;
    margin-left: 1em;
}

.Description{
    padding: 1.5em 3em ;
}

.Desc_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Desc_top_tags,.Desc_top_techs{
    display: flex;
    align-items: center;
}

.Desc_top_tag{
    background: coral;
    padding: 0.3em 1.3em;
    border-radius: 6px;
    font-weight: 600;
    color: #fff;
}

.Desc_top_tag{
    margin-right: 1em;
}

.Desc_top_tech{
    margin-left: 1em;
}

.Desc_Head{
    display: flex;
    align-items: flex-end;
    margin-top: 1em;
}

.Desc_Head_title{
    font-size: 3em;
    font-weight: 900;
    margin-right: 0.2em;
    color: #2B2B2B;
}

.Desc_Head_subtitle{
    width: 8em;
    margin-bottom: 0.5em;
}

.Desc_subtext{
    margin-top: 1em;
}

.ReadCaseStudy{
    color: #0038FF;
}

.Desc_buttons{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Button_Repository,
.Button_VisitSite{
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    padding: 0.5em 1.5em;
    margin-left: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
}

.Button_Repository a,
.Button_VisitSite a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Button_Repository span,
.Button_VisitSite span{
    margin-left: 1em;
}

.Button_Repository{
    background: #E8E8E8;
}

.Button_Repository:hover{
    background: #cccccc;
}

.Button_VisitSite{
    background: #FF3737;
    color: #fff;
}

.Button_VisitSite:hover{
    background: #e93131;
}