.app{
  font-family: Montserrat, sans-serif;
  background: url(../public/backgroundtile.png), var(--primary-background) repeat-y;
  color: #fff;
}

.hero{
  /* min-height: calc(100vh + 10em); */
  min-height: 100vh;
  background: url(../public/background.png), var(--primary-background);
  background-position: center;
  position: relative;
}

.hero_container{
  position: absolute;
  width: max-content;
  max-width: 90vw;
  top: 50vh;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hero_bigtext{
  font-size: 10em;
  font-weight: 900;
}

.hero_subtext{
  font-size: 3em;
  font-weight: 900;
  line-height: 0;
  padding-left: 1em;
}

.hero_subtext_bottom{
  font-weight: 900;
  font-size: 1.8em;
  display: flex;
  gap: 1.5em;
  justify-content: center;
}

.hero_calltoaction{
	display: flex;
	justify-content: flex-end;
	gap: 1em;
	padding: 0.5em 0;
}

.section_main{
  background-repeat: repeat-y;
  min-height: 20em;
  max-width: 100vw;
  overflow: hidden;
  margin-bottom: 3em;
}

.section_container{
  width: 90%;
  max-width: 80vw; 
  margin: 0 auto;
}

.container_title{
	font-size: 2em;
	margin-bottom: 0.3em;
}

.container_text{
  font-weight: 400;
  font-size: 1.1em;
  position: relative;
  margin-bottom: 1.5em;
}

.container_text::after {
  content: "";
  width: 5em;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: -0.5em;
  border-radius: 5px;
  left: 12em;
  transition: left 500ms cubic-bezier(0.3, -0.04, 0.31, 1.09), width 500ms ease;
 }

.container_text:hover::after {
  left: 1em;
  width: 10em;
 }

 .app_footer_title{
	 font-size: 2em;
	 text-align: center;
 }

 .app_footer_links{
	 margin-top: 2em;
	 margin-bottom: 1em;
	 display: flex;
	 align-items: center;
	 justify-content: space-evenly;
 }

 .footer_calltoaction_text{
	 margin-right: 1em;
 }

 /* MEDIA QUERIES*/

@media all and (max-width: 1150px){
	 .hero_bigtext{
		 font-size: 7em;
	 }

	 .hero_subtext {
		 font-size: 2.5em;
		 padding-left: 0;
		 margin-bottom: 0.3em;
	 }

	 .hero_subtext_bottom {
		 font-size: 1.5em;
	 }

	 .container_title{
		 font-size: 1.7em;
	 }
	 .container_text {
		 font-size: 1.2em;
	 }
}

@media all and (max-width: 870px){
	 .hero_bigtext{
		 font-size: 5em;
	 }

	 .hero_subtext {
		 font-size: 2.5em;
		 padding-left: 0;
		 margin-bottom: 0.3em;
	 }

	 .hero_subtext_bottom {
		 flex-direction: column;
		 gap: 0;
		 list-style: none;
	 }

	 .container_title{
		 font-size: 1.7em;
	 }
	 .container_text {
		 font-size: 1.2em;
	 }
}

@media all and (max-width: 720px){

	 .Sidebars_main {
		 display: none;
	 }

	 .hero_bigtext{
		 font-size: 4em;
	 }

	 .hero_calltoaction {
		 justify-content: flex-start;
	 }

	 .hero_calltoaction > :last-child{
		 margin-left: 0;
	 }

	 .hero_calltoaction > :first-child{
		 display: none;
	 }

	 .container_title {
		 display: none;
	 }
	 .container_text {
		 text-align: center;
		 font-size: 1.2em;
		 list-style: none;
	 }

	 .section_main_skills {
		 display: none;
	 }
 }


 .skills_wrapper > * {
	width: 100%;
 }